<div class="row">
  <div class="col-md-8">
    <h2>Acerca de</h2>
    <p class="burritaco-description">
      Burritaco, es una aplicación web dirigida a entidades gubernamentales,
      que brinda un servicio de información, en tiempo real de las congestiones
      de tránsito a nivel comunal. Permitiendo al clientes identificar los sectores
      con mayor congestión para poder tomar medidas. Además, permite a los clientes
      revisar el estado actual del tránsito a nivel comunal a través de mapas y marcas,
      y tweets relacionados, enterándose de forma certera del estado del tránsito y
      las razones de las congestiones.
    </p>
    <p class="burritaco-description">
      A diferencia de Gmaps o Waze, que se alimentan de información obtenida por medio
      de las mismas aplicaciones, Burritaco se alimenta a través de los reportes de
      usuarios de Twitter, permitiendo una retroalimentación continua del estado del tránsito.
      Permitiendo también revisar gráficos que desglosen esta información de forma precisa.
      En la aplicación, el usuario será capaz de observar el reporte de twitter relacionado a
      la información ofrecida a través del mapa. Pudiendo así discriminar de forma directa si es
      información relevante para él o no.
    </p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive" src="resources/img/burritaco.png" alt="logo" >
  </div>
</div>
