<h2 class="burritaco-description">
  Grafo relacional entre usuarios de tweets influyentes y comunas
</h2>
<div class="burritaco-description">
  Este grafo relaciona a los 100 usuarios más influyentes de Twitter basado en su participación en la generación de tweets sobre congestión en las comunas de la Región Metropolitana.
</div>
<hr class="hr-burritaco">
<div class="col-md-2">
  <img style="width=100px; height=100px;" src="./resources/img/comuna.png" alt="">
  <br>
  <img style="width=100px; height=100px;" src="./resources/img/user.png" alt="">
</div>
<div class="col-md-10">
  <div class="container-fluid" id="graph-container">
  </div>
</div>
