<h2>¿Quiénes somos?</h2>
<div class="row">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in vo</p>
  <div class="col-md-4">
    <img class="img-thumbnail" src="resources/img/la.jpg" alt="miembro">
    <h4>Marcelo Morales</h4>
    <strong>Scrum Master</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail" src="resources/img/la.jpg" alt="miembro">
    <h4>Nicolás Olivares González</h4>
    <strong>Front-end</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail" src="resources/img/la.jpg" alt="miembro">
    <h4>Arthur Peña Lozano Morales</h4>
    <strong>Back-end</strong>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img class="img-thumbnail" src="resources/img/la.jpg" alt="miembro">
    <h4>Javier Vásquez</h4>
    <strong>Back-end</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail" src="resources/img/la.jpg" alt="miembro">
    <h4>Marcelo Muñoz</h4>
    <strong>Desarrollador</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail" src="resources/img/la.jpg" alt="miembro">
    <h4>Sebastián Vallejos</h4>
    <strong>Desarrollador</strong>
  </div>
</div>
