
<div class="row">
  <h2>¿Quiénes somos?</h2>
  <p class="burritaco-description">Futuchi es una agrupación de estudiantes pertenecientes al Departamento de Ingeniería Informática
    de la Universidad de Santiago de Chile (USACH), comprometidos con el desarrollo integral
    de la sociedad y con el objetivo
    brindar soluciones útiles, que ayuden a esta en el camino del progreso. Para esto,
    los miembros de nuestra organización utilizamos la metodología</p>
    <p class="burritaco-description">Los miembros de Futuchi aplican la métodología ágil de Scrum.</p>
  <div class="col-md-4">
    <img class="img-thumbnail team-thumbnail" src="resources/img/mamgui.jpg" alt="mamgui">
    <h4>Marcelo Morales</h4>
    <strong>Scrum Master</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail team-thumbnail" src="resources/img/nico.jpg" alt="nico">
    <h4>Nicolás Olivares González</h4>
    <strong>Encargado de Front-end</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail team-thumbnail" src="resources/img/arthur.png" alt="arthur">
    <h4>Arthur Peña Lozano</h4>
    <strong>Administrador de Sistemas</strong>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img class="img-thumbnail team-thumbnail" src="resources/img/javier.png" alt="javier">
    <h4>Javier Vásquez</h4>
    <strong>Encargado de Back-end</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail team-thumbnail" src="resources/img/marcelo.jpg" alt="marcelo">
    <h4>Marcelo Muñoz</h4>
    <strong>Desarrollador</strong>
  </div>
  <div class="col-md-4">
    <img class="img-thumbnail team-thumbnail" src="resources/img/seba.jpg" alt="seba">
    <h4>Sebastián Vallejos</h4>
    <strong>Desarrollador</strong>
  </div>
</div>
